body,
html {
  margin: 0px;
  padding: 0px;
  position: fixed;
  background: black;
}
#canvas {
  position: absolute;
  top: 0;
  left: 0;
}
#colorButton {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}


