body, html {
    margin: 0;
    padding: 0;
    background: rgb(16, 16, 16);
  }
  
  #canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  #colorButton {
    position: absolute;
    top: 10px;
    left: 10px;
    border: 2px solid white;
    border-radius: 10px;
    background: linear-gradient(to bottom, #555555, #222222);
    color: white;
    padding: 5px 10px;
    z-index: 1;
  }
  
  #rgbCheckbox {
    position: absolute;
    top: 60px;
    left: 10px;
    border: 2px solid white;
    background: linear-gradient(to bottom, #555555, #222222);
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    z-index: 1;
  }
  
  #rgbCheckbox::before {
    content: "RGB";
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    margin-right: 5px;
  }
  
  #rgbCheckbox:checked::before {
    content: "✔️ RGB";
  }
  
  #rgbCheckbox:checked {
    background: linear-gradient(to bottom, #333333, #111111);
  }
  
  #rgbCheckbox:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 0 3px 2px rgba(255, 255, 255, 0.7);
  }
  
  #rgbCheckbox:active {
    background: linear-gradient(to bottom, #444444, #111111);
  }
  