body, html {
    margin: 0;
    padding: 0;
    position: fixed;
    background: black;
  }
  
  #canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Ajout de la propriété z-index pour positionner le canvas en arrière-plan */
  }
  
  #colorButton {
    position: absolute;
    top: 10px;
    left: 255px;
    z-index: 1;
    border: 2px solid white;
    border-radius: 10px;
    background: linear-gradient(to bottom, #555555, #222222);
    color: white;
    padding: 5px 10px;
  }
  
  #rgbCheckbox {
    position: absolute;
    top: 60px;
    left: 255px;
    z-index: 1;
    border: 2px solid white;
    background: linear-gradient(to bottom, #555555, #222222);
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
  }
  
  #rgbCheckbox::before {
    content: "RGB ";
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    margin-right: 5px;
  }
  
  #rgbCheckbox:checked::before {
    content: "✔️ RGB";
  }
  
  #rgbCheckbox:checked {
    background: linear-gradient(to bottom, #333333, #111111);
  }
  
  #rgbCheckbox:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 0 3px 2px rgba(255, 255, 255, 0.7);
  }
  
  #rgbCheckbox:active {
    background: linear-gradient(to bottom, #444444, #111111);
  }
  
  .tooltip {
    position: absolute;
    top: 30px;
    left: 0;
    background-color: #f00;
    color: #fff;
    padding: 5px;
    display: none;
  }
  
  label {
    color: white;
    display: block;
    margin-top: 10px;
  }
  
  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 200px;
    height: 5px;
    background: #555555;
    outline: none;
    border-radius: 5px;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
  }
  
  input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
  }
  
  input[type="range"]::-webkit-slider-thumb:hover {
    background: #ffffff;
  }
  
  input[type="range"]::-moz-range-thumb:hover {
    background: #ffffff;
  }
  
  input[type="range"]::-webkit-slider-thumb:active {
    background: #ffffff;
  }
  
  input[type="range"]::-moz-range-thumb:active {
    background: #ffffff;
  }
  
  #lengthValue,
  #widthValue,
  #nodeValue,
  #attachmentValue {
    color: white;
    display: inline-block;
    margin-left: 10px;
  }
  